* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
h1 {
  font-size: 40px;
  font-family: Zen Dots, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}
#value {
  font-size:  80px;
  font-family: Barlow, sans-serif;
}
.btn {
  border: 1px solid rgb(182, 141, 219);
width: 100px;
height: 50px;
margin: 10px;
border-radius: 5px;
background-color: rgb(200, 206, 219);
font-family: Zen Dots, sans-serif;
color: rgb(55, 56, 56);
cursor: pointer;
}
.btn:hover {
  background-color: rgb(157, 204, 204);
  transition: 0.3s ease-in;
}